<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>San Matheo</title>

	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/application.css"/>

</head>
<body>
<div class="aw-layout-page">
	<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
		<div class="container-fluid">

	    <div class="navbar-header">
	     	<a class="navbar-brand  hidden-xs" href="#">
	        	<img alt="San Matheo" />
	      	</a>

	      	<ul class="nav  navbar-nav">
	        	<li>
	          		<a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
	        	</li>
	      	</ul>
	    </div>

	    <ul class="nav navbar-nav  navbar-right">
	    	<li>
	        	<a href="/logout"><em class="fa  fa-sign-out"></em></a>
	      	</li> 
	    </ul>

	  </div>
	</nav>
	
	<aside class="aw-layout-sidebar  js-sidebar">
		<div class="aw-layout-sidebar__content">

	    	<nav class="aw-menu  js-menu">
	      		<ul class="aw-menu__list">
	
	        		<li class="aw-menu__item">
	          			<a href="home"><i class="fa  fa-fw  fa-home"></i><span>Home</span></a>
	        		</li>
	
	        		<li class="aw-menu__item  is-active is-expanded">
	          			<a href="#">
	            			<i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>
	            			<i class="aw-menu__navigation-icon  fa"></i>
	          			</a>
	      
	          			<ul class="aw-menu__list  aw-menu__list--sublist">
				            <li class="aw-menu__item  aw-menu__item--link"><a href="/sisVisitantes/usuario">Cadastro de usuário</a></li>
	          			</ul>
	        		</li>
	      		</ul>
	    	</nav>
		</div>
	</aside>
	
	<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>
	
	<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; 2016 Edson Andrade. Todos os direitos reservados.</span>
		</div>
	</footer>
</div>
<script src="/layout/javascripts/vendors.min.js"></script>
<script src="/layout/javascripts/algaworks.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</body>
</html>